# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
arm_simulator
memory_test
registers_test
send_irq
example*
**/*test
insertion_sort

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Swap and history
*.swp
.gdb_history

# Automake files
**/Makefile
**/Makefile.in
.deps/
stamp-h1
*~
autom4te.cache/
config.*
*.m4

# Editor files
.vscode/
