# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
clock
fibonacci
chenillion
chenillion_rainbow
tictactoe
arm_simulator
memory_test
registers_test
send_irq
example[0-9]*
**/*test
insertion_sort
Tests/test_*[!.s]
Tests/some_print
Showcase/.*[!.s]

core

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# History and traces
*.swp
.gdb_history
.nfs*
Tests/trace/

# Automake files
**/Makefile
**/Makefile.in
.deps/
stamp-h1
*~
autom4te.cache/
config.*
*.m4

# Editor files
.vscode/
